* {
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: #00e6b2;
  --blackColor: #000;
  --whiteColor: #fff;
  --grayColor: #999999;
}


body {
  font-family: "Kanit", sans-serif!important;
  background: #000!important;
  color: var(--whiteColor)!important;
  scrollbar-width: thin!important; /* Ancho de la barra de desplazamiento */
  scrollbar-color: #0f0f0f #474747!important; /* Color de la "thumb" y del track */
}

.video-category {
  opacity: 0.6;
}

.underline-hover {
  position: relative;
  padding: 8px 10px;
}

.text-lg {
  font-size: 45px!important;
}

.underline-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primaryColor);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.underline-hover:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.text-md {
  font-size: 24px;
}

.text-xl {
  font-size: 90px;
}

.bg-blur-green {
  background-image: url("../assets/img/blur.png");
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-color: #000000b9;
}

.bg-blur-green-2 {
  background-image: url("../assets/img/blur.png");
  background-position: left;
  background-size: 50%;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-color: #000000b9;
}

body.dark-mode .bg-blur-green {
  background-color: rgba(255, 255, 255, 0.8);
}

p {
  color: var(--grayColor);
}

.text-gray {
  color: var(--grayColor)!important;
}


/* Dark mode */
body.dark-mode {
  background-color: #fff!important; /* Color de fondo en modo oscuro */
  color: #000!important; /* Color de texto en modo oscuro */
}

/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color del track (fondo) de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #1a1a1a; /* Color de la "thumb" (parte desplazable) */
  border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #202020; /* Color de la "thumb" al pasar el cursor */
}t-scrollbar-thumb:hover {
  background-color: #555; /* Color de la "thumb" al pasar el cursor */
}

.button-main {
  background-color: var(--primaryColor);
  padding: 5px 20px;
  border-radius: 5px;
  color: black;
  border: none;
  transition: all .3s ease-in-out;
}

.button-main:hover {
  opacity: 0.6;
}

.space-sections {
  padding: 100px!important;
}

.title-2 {
  font-size: 45px;
  width: 350px;
}

.main-color {
  color: var(--primaryColor);
}

.subtitle {
  width: 280px;
}

.subtitle-text {
  font-size: 45px;
}

.chip-text {
  font-size: 33px;
  line-height: 1em;
  color: #777;
}

.container {
  width: 75%!important;
}

.siri-text {
  font-size: 45px;
  line-height: 1em;
}

.container-fluid {
  width: 95%!important;
}

.menu-items li a {
  color: var(--whiteColor);
}

body.dark-mode .menu-items li a {
  color: var(--blackColor)!important;
}

body.dark-mode .dark-text-white {
  color: var(--blackColor)!important;
}

.dark-text-white {
  color: var(--whiteColor)!important;
}


.title {
  font-size: 65px;
}

.height-full {
  height: 100vh;
}

.border-menu {
  border-bottom: 1px solid #ffffff11;
}

.hover-text-white {
  transition: all .2s ease-in-out;
}

.hover-text-white:hover {
  color: var(--whiteColor)!important;
}

body.dark-mode .hover-text-white:hover {
  color: var(--blackColor)!important;
}

.fade-in {
  opacity: 1;
  margin: 20px 0;
}

.bg-custom {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  background-blend-mode: soft-light;
  background-attachment: fixed;
}

.bg-custom-left {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 60%;
  background-attachment: fixed;
}

.fa-star {
  color: var(--primaryColor);
}


@media screen and (max-width: 768px) {
  
  .mobile-review-container {
    overflow-x: scroll;
  }
  .mobile-review-container > div {
    width: 90%!important;
    max-width: 90%!important;
  }
}


.client-review {
  border: 2px solid var(--primaryColor);
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 20px -10px #fff;
  -moz-box-shadow: 0px 3px 20px -10px #fff;
  box-shadow: 0px 3px 20px -10px #fff;
}

.text-se-a-unido {
  font-size: 13px;
  color: #777;
}

.bg-custom-right {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  background-attachment: fixed;
}

.bg-video-login {
  background-image: url("../assets/img/login.gif");
}

.bg-video-calendar {
  background-image: url("../assets/img/calendar.gif");
}

.bg-video-wallet {
  background-image: url("../assets/img/Wallet_v03.gif");
}

.bg-video-traduccion {
  background-image: url("../assets/img/traduccion.gif");
}

.blur {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.text-xxl {
  font-size: 60px!important;
}

.background-video {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  position: sticky;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 0;
  z-index: -1;
  margin: auto;
}

.bg-video-conoce {
  background-image: url("../assets/img/app.gif");
}


.bg-image {
  background-image: url("../assets/video/Calendar_v03.mp4");
}

.bg-image2 {
  background-image: url("../assets/img/Wallet_v03.gif");
}

.progress-scroll {
  height: 3px;
  position: fixed;
  top: 0;
  background: var(--primaryColor);
  width: 0%;
  z-index: 99999;
}


body.dark-mode .progress-scroll {
  background-color: var(--blackColor);
}


.bg-image3 {
  background-image: url("../assets/img/Wallet_v03.gif");
}

.bg-image4 {
  background-image: url("../assets/img/Wallet_v03.gif");
}

.border-right {
  border-right: 1px solid #333;
}

.btn-mode {
  background-color: #1d1d1d;
  color: var(--whiteColor);
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 40px;
  text-decoration: none;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.btn-mode:hover {
  opacity: 0.6;
  color: var(--whiteColor);
}

.fade-text {
  animation: zoomIn 2s ease-in-out;
}

.cat-title {
  font-size: 85px;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  opacity: 0.6;
}

.min-h-350 {
  min-height: 350px;
}

.min-h-600 {
  min-height: 600px;
}

.btn-comprar {
  border: 2px solid var(--primaryColor);
  border-radius: 50px;
  color: var(--whiteColor);
  text-decoration: none;
  padding: 6px 30px;
  transition: all .2s ease-in-out;
  font-size: 24px;
}

body.dark-mode .btn-comprar{
  color: var(--blackColor);
}

.btn-comprar:hover {
  background-color: var(--primaryColor);
  color: #fff;
}

.fs-24 {
  font-size: 24px;
}

.active {
  font-weight: bold;
  color: var(--primaryColor)!important;
}

.border-left {
  border-left: 1px solid #333;
}

.border-top {
  border-top: 1px solid #333;
}

.text-per {
  color: var(--whiteColor);
}

body.dark-mode .text-per {
  color: var(--blackColor);
}

.space-double-section-x {
  padding-left: 90px!important;
  padding-right: 90px!important;
}

.menu-mobile {
  display: none;
}
.menu-mobile.open {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  background: var(--blackColor);
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.menu-mobile ul {
  list-style-type: none;
  padding: 0;
}
.menu-mobile li {
  padding: 10px 20px;
}
.menu-mobile a {
  text-decoration: none;
  color: black;
  display: block;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}


@media screen and (max-width: 992px) {
    
  .text-xxl {
    font-size: 25px!important;
  }


  .siri-text {
    font-size: 32px;
  }
  
  .border-right {
    border: none;
  }

  .border-left {
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .text-xxl {
    font-size: 20px!important;
  }

  .title {
    font-size: 65px;
  }

  .min-h-600 {
    min-height: auto;
  }

  .min-h-350 {
    min-height: auto;
  }

  .space-sections {
    padding: 22px!important;
  }

  .space-double-section-x {
    padding-left: 32px!important;
    padding-right: 32px!important;
  }

  .siri-text {
    font-size: 30px;
  }

  .border-left {
    border: none;
  }

  .title-2 {
    font-size: 28px;
  }



  .subtitle {
    font-size: 30px;
  }

  .chip-text {
    font-size: 22px;
  }

  .container {
    width: 90%!important;
  }

  .bg-iphone {
    background-size: 100%;
  }

  .btn-comprar {
    font-size: 18px;
  }
}

@media screen and (max-width: 540px) {

  .section-video-cat {
    margin-top: 114px;
  }

  .cat-title {
    font-size: 30px;
  }

  .mt-cat {
    margin-top: 200px;
  }

 .title {
    font-size: 40px;
  }

  .bg-custom {
    background-size: 100%;
  }

  .bg-custom-left {
    background-size: 100%;
  }

  .bg-custom-right {
    background-size: 100%;
  }
  
  .text-md {
    font-size: 20px;
  }

  .bg-blur-green-2 {
    background-position: top left;
  }

  .space-double-section-x {
    padding-left: 10px!important;
    padding-right: 10px!important;
  }

  .space-sections {
    padding: 20px!important;
  }

  .siri-text {
    font-size: 28px;
  }

  .text-xl {
    font-size: 50px;
  }

  .title-2 {
    font-size: 18px;
    width: 150px;
  }

  .subtitle {
    font-size: 21px;
  }

  .chip-text {
    font-size: 20px;
  }

  .background-video {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    position: sticky;
    left: 0;
    right: 0;
    top: 33%;
    bottom: 0;
    z-index: -1;
    margin: auto;
  }
  
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}